<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post">
        <div>
            <label for="heading">heading</label><input name="heading" type="text">
        </div>
        <br>
        <br>
       <div>
        <label for="level">level</label><input name="level" type="text">

       </div>
       <br>
       <br>
     <div>
        <label for="topic">topic</label><textarea  name="topic" rows="10" cols="90"></textarea>
     </div>
     <button type="submit">go</button>
    </form>
</body>
</html>